body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    font-weight: 600;
    padding: 7px;
    font-size: 15px;
    border-radius: 15px;
    background-color: rgb(163, 160, 204);

}